/* * Reset * */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

/* UTILS */

.flex-c {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.ptb-15 {
    padding: 15px 10px;
}

body {
    padding: 30px;
    font-family: 'Zen Loop', cursive;
    font-size: 1.6rem;
}

.student-list, .student {
    background: cadetblue;
    width: 50%;
    border-radius: 20px;
    border: 1px dotted black;
}

.student-list ul {
    list-style-position: inside;
    padding-left: 10px;
}

#add, #add-bonus {
    padding: 20px 5px;
    border-radius: 20px;
    border: 1px solid black;
    width: 200px;
    cursor: pointer;
}

#add:hover, #add-bonus {
    background-color: white;
    color: black;
}